<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>role</key>
		<string>student</string>
		<key>id</key>
		<string>3987831</string>
		<key>firstName</key>
		<string>Nate</string>
		<key>lastName</key>
		<string>Birkholz</string>
	</dict>
	<dict>
		<key>role</key>
		<string>student</string>
		<key>id</key>
		<string>3927520</string>
		<key>firstName</key>
		<string>Matthew</string>
		<key>lastName</key>
		<string>Brightbill</string>
	</dict>
	<dict>
		<key>role</key>
		<string>student</string>
		<key>id</key>
		<string>3994005</string>
		<key>firstName</key>
		<string>Jeff</string>
		<key>lastName</key>
		<string>Chavez</string>
	</dict>
	<dict>
		<key>role</key>
		<string>student</string>
		<key>id</key>
		<string>3927495</string>
		<key>firstName</key>
		<string>Chrstie</string>
		<key>lastName</key>
		<string>Ferderer</string>
	</dict>
	<dict>
		<key>role</key>
		<string>student</string>
		<key>id</key>
		<string>3987826</string>
		<key>firstName</key>
		<string>David</string>
		<key>lastName</key>
		<string>Fry</string>
	</dict>
	<dict>
		<key>role</key>
		<string>student</string>
		<key>id</key>
		<string>3935910</string>
		<key>firstName</key>
		<string>Adrian</string>
		<key>lastName</key>
		<string>Petrica Gherle</string>
	</dict>
	<dict>
		<key>role</key>
		<string>student</string>
		<key>id</key>
		<string>3932232</string>
		<key>firstName</key>
		<string>Jake</string>
		<key>lastName</key>
		<string>Hawken</string>
	</dict>
	<dict>
		<key>role</key>
		<string>student</string>
		<key>id</key>
		<string>3994025</string>
		<key>firstName</key>
		<string>Shams</string>
		<key>lastName</key>
		<string>Kazi</string>
	</dict>
	<dict>
		<key>role</key>
		<string>student</string>
		<key>id</key>
		<string>3994024</string>
		<key>firstName</key>
		<string>Cameron</string>
		<key>lastName</key>
		<string>Klein</string>
	</dict>
	<dict>
		<key>role</key>
		<string>student</string>
		<key>id</key>
		<string>3932235</string>
		<key>firstName</key>
		<string>Kori</string>
		<key>lastName</key>
		<string>Kolodziejczak</string>
	</dict>
	<dict>
		<key>role</key>
		<string>student</string>
		<key>id</key>
		<string>3987825</string>
		<key>firstName</key>
		<string>Parker</string>
		<key>lastName</key>
		<string>Lewis</string>
	</dict>
	<dict>
		<key>role</key>
		<string>student</string>
		<key>id</key>
		<string>3987835</string>
		<key>firstName</key>
		<string>Nathan</string>
		<key>lastName</key>
		<string>Ma</string>
	</dict>
	<dict>
		<key>role</key>
		<string>student</string>
		<key>id</key>
		<string>3987832</string>
		<key>firstName</key>
		<string>Casey</string>
		<key>lastName</key>
		<string>MacPhee</string>
	</dict>
	<dict>
		<key>role</key>
		<string>student</string>
		<key>id</key>
		<string>3927488</string>
		<key>firstName</key>
		<string>Brendan</string>
		<key>lastName</key>
		<string>McAleer</string>
	</dict>
	<dict>
		<key>role</key>
		<string>student</string>
		<key>id</key>
		<string>3932244</string>
		<key>firstName</key>
		<string>Brian</string>
		<key>lastName</key>
		<string>Mendez</string>
	</dict>
	<dict>
		<key>role</key>
		<string>student</string>
		<key>id</key>
		<string>3987827</string>
		<key>firstName</key>
		<string>Mark</string>
		<key>lastName</key>
		<string>Morris</string>
	</dict>
	<dict>
		<key>role</key>
		<string>student</string>
		<key>id</key>
		<string>3994006</string>
		<key>firstName</key>
		<string>Rowan</string>
		<key>lastName</key>
		<string>North</string>
	</dict>
	<dict>
		<key>role</key>
		<string>student</string>
		<key>id</key>
		<string>3987834</string>
		<key>firstName</key>
		<string>Kevin</string>
		<key>lastName</key>
		<string>Pham</string>
	</dict>
	<dict>
		<key>role</key>
		<string>student</string>
		<key>id</key>
		<string>3927541</string>
		<key>firstName</key>
		<string>Will</string>
		<key>lastName</key>
		<string>Richman</string>
	</dict>
	<dict>
		<key>role</key>
		<string>student</string>
		<key>id</key>
		<string>3927503</string>
		<key>firstName</key>
		<string>Heather</string>
		<key>lastName</key>
		<string>Thueringer</string>
	</dict>
	<dict>
		<key>role</key>
		<string>student</string>
		<key>id</key>
		<string>3987830</string>
		<key>firstName</key>
		<string>Tuan</string>
		<key>lastName</key>
		<string>Vu</string>
	</dict>
	<dict>
		<key>role</key>
		<string>student</string>
		<key>id</key>
		<string>3987833</string>
		<key>firstName</key>
		<string>Zack</string>
		<key>lastName</key>
		<string>Walkingstick</string>
	</dict>
	<dict>
		<key>role</key>
		<string>student</string>
		<key>id</key>
		<string>3987829</string>
		<key>firstName</key>
		<string>Sara</string>
		<key>lastName</key>
		<string>Wong</string>
	</dict>
	<dict>
		<key>role</key>
		<string>student</string>
		<key>id</key>
		<string>3987824</string>
		<key>firstName</key>
		<string>Hongyao</string>
		<key>lastName</key>
		<string>Zhang</string>
	</dict>
	<dict>
		<key>role</key>
		<string>teacher</string>
		<key>id</key>
		<string>1234567</string>
		<key>firstName</key>
		<string>Brad</string>
		<key>lastName</key>
		<string>Johnson</string>
	</dict>
	<dict>
		<key>role</key>
		<string>teacher</string>
		<key>id</key>
		<string>4567890</string>
		<key>firstName</key>
		<string>John</string>
		<key>lastName</key>
		<string>Clem</string>
	</dict>
</array>
</plist>
